//
// Copyright 2014 BaseKit Platform Ltd
//
// --------------
// Profile Widget
// --------------

.address {
    .address-line {
        padding-bottom: 0;
        @media only screen and (min-width : 770px) {
            display: inline-block;
            padding-right: 5px;
            &:after {
                content: "\002C";
            }
        }
    }
    .address-line:last-child:after {
        content: '';
    }
    @media @tablet {
        text-align: center;
    }
}

.header-top-bar,
.footer-bottom-bar {
    .address-line,
    a,
    p {
        color: @color-swatch1;
    }
}
