//
// Copyright 2014 BaseKit Platform Ltd
//
// --------------
// Profile Widget
// --------------

.address {
    .address-line {
        padding-bottom: 0;
        @media only screen and (min-width : 770px) {
            display: inline-block;
            padding-right: 5px;
            &:after {
                content: "\002C";
            }
        }
    }
    .address-line:last-child:after {
        content: '';
    }
    @media @tablet {
        text-align: center;
    }
}

.header-top-bar,
.footer-bottom-bar {

    // Remove bottom padding from text
    h1,
    h2,
    h3,
    h4,
    p,
    a,
    .address-line {
        padding-bottom: 0;
        color: @color-swatch1;
        font-weight: 400;
    }

    // Twitter
    .twitter__avatar-image {
        margin-bottom: 10px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
    .account-link {
        font-weight: 400;
    }
    .tweet-item {
        @media @tablet {
            text-align: center;
        }
    }
    .tweet-content a {
        text-decoration: underline;
    }

    // Signup Form
    .signupform .label {
        color: @color-swatch1;
        font-weight: 400;
    }

}

.flex-profile-one,
.flex-profile-two {
    @media @tablet {
        width: 100%;
    }
}
