//
// Copyright 2014 BaseKit Platform Ltd
//
// ---------------------
// BasePlate main styles
// ---------------------

// Template Imports
// ----------------
@import "@{templateCommon}/bk-less-framework.less";     // BK LESS Framework

@import "@{templateLocal}/less/variables.less";         // Variables

@import "@{templateLocal}/less/widget-gallery.less";    // Widgets
@import "@{templateLocal}/less/widget-slideshow.less";
@import "@{templateLocal}/less/widget-profile.less";
@import "@{templateLocal}/less/widget-feature.less";
@import "@{templateLocal}/less/widget-image.less";

@import "@{templateLocal}/less/plugin-blog.less";       // Plugins
@import "@{templateLocal}/less/plugin-menu.less";
@import "@{templateLocal}/less/plugin-ecommerce.less";

@import "@{templateLocal}/less/header-and-footer.less";
@import "@{templateLocal}/less/forms-and-buttons.less";


// Template Styles
// ---------------

// Wrapping container
.template-content,
.homepage-images-container,
.feature__content-inner-wrap {
    width: 90%;
    margin: 0 5%;
    @media only screen and (min-width: 1140px) {
        width: 960px; // 1140px - 10% for margins
        margin: 0 auto;
    }
}

.container {
    background-color: darken(@color-swatch1, 3%);
    width: 100%;
}

.template-content .widget:first-child {
    padding-top: 40px;
    @media @tablet {
        padding-top: 30px;
    }
    @media @mobile {
        padding-top: 20px;
    }
}




// -----------------------------
// Divider (Keyline)
// -----------------------------

hr.rule {
    height: 1px;
    background-color: darken(@color-swatch1, 20%);
}


// Horizontal rule in blog posts
hr {
    height: 1px;
    border: 0;
    margin-bottom: 18px;
    background-color: darken(@color-swatch1, 20%);
}
