<div class="template-footer">
    <div class="footer-top-bar">
        {{widget('signupform', 'footersignup', {'text': 'Send', 'label': 'Join the party today and help support us:', 'formTitle': 'Signup Form', 'email': 'profile'})|raw}}
    </div>


    <div class="flex-container-horizontal footer-bottom-bar">
        <div class="flex-item flex-profile-one">
            {{widget('profile', 'footercopyright', {
                'profileType':'copyright',
                'copyright':'profile'
            })|raw}}
        </div>
        <div class="flex-item flex-profile-two">
            {{widget('profile', 'footeremail', {
                'profileType':'email',
                'email':'profile'
            })|raw}}
        </div>
    </div>

</div>
